.footer-nav {
    position: relative;
    z-index: 11;
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: space-evenly;
    height: 8%;
    margin-top: -.5em;
    padding-top: .5em;
    padding-bottom: .5em;

    &__grid {
        display: flex;
        justify-content: space-around;
        font-size: 2.5rem;
        list-style: none;

        @mixin atLargest {
            justify-content: flex-end;
            padding-top: .2em;
        }

        li {

            padding-top: .3em;
            @mixin atLargest {
                padding-left: .2em;
                padding-right: .7em;
            }
        }

        @mixin atMedium {
            font-size: 3.5rem;
        }

        a {
            color: white;
        }
    }
    
    p {
        text-align: center;
        padding-top: 1em;
        color: white;

        @mixin atLargest {
            font-size: 1.2rem;
        }
    }
}