.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    background-color: black;
    z-index: 10;


    &__logo {

        img {
            
            width: 37%;
            height: 8.4vh;
            border: .1rem black solid;
            margin-left: 1.1rem;
        }
    }

}