.header {
    
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: black;
    z-index: 12;
    
    @mixin atMedium {
        height: 3.9rem;
    }

    @mixin atLarge {
        height: 5em;
    }

    &__logo {
       
        height: 4.3em;
        width: 3em;
        
        @mixin atMedium {
            height: 5.5em;
            width: 3.8em;
        }

        @mixin atLarge {
            height: 6.5em;
        }

        img { 
          
           height: 100%;
            width: 350%;
            margin-left: 2rem;
            border: .1rem black solid;
        
        }
    }


    &__menu {
        display: flex;
        opacity: 0;
        list-style: none;
        font-size: 1.4rem;
        font-weight: 550;

        @mixin atLarge {
            font-size: 1.7rem;
    
          }

        @mixin atLargest {
        font-size: 2.2rem;
        padding-right: 1em;
        }
      
        li {
          padding-left: .3rem;
          padding-right: 1rem;
         
    
          @mixin atMedium {
            z-index: 30;
    
          }
        }
        
    
        @mixin atMedium {
          opacity: 1;
        }
        
        a {
          text-decoration: none;
          color: white;
        }
        
      }

    &__mobile-button {
        
        @mixin atSmall {
            z-index: 16;
           
                &__top {
                    position: fixed;
                    top: 15px;
                    right: 1rem;
                    background-color: white;
                    width: 24px;
                    height: 2px;
                    transform-origin: 0 0;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-in;
                    
                    &--line {
                        transform: rotate(43deg) scaleX(1.01);
                    }
                }
        
                &__middle {
                    position: fixed;
                    top: 22px;
                    right: 1rem;
                    background-color: white;
                    width: 24px;
                    height: 2px;
                    transform-origin: 0 0;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-in;
                    
                    &--line {
                        transform: scaleX(0);
                    }
                    
                }
                    
                &__bottom {
                    position: fixed;
                    top: 30px;
                    right: 1rem;
                    background-color: white;
                    width: 24px;
                    height: 2px;
                    transform-origin: 0 0;
                    transition-property: all;
                    transition-duration: .3s;
                    transition-timing-function: ease-in;
                    
                    &--line {
                        transform: rotate(-42deg) scaleX(.99) translateX(-1.8px);
                    }
                    
               }
            }
    }

}