.hr {
    width: 80%;
    height: 2px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

    @mixin atLargest {
        margin-top: 75px;
        margin-bottom: 40px;
    }

    &--margin-top {
        margin-top: 70px;
    }
}