.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
   
    background-color: black;
    z-index: -20;
    width: 100%;
    height: 100%;
    
    &__nav {
        transform: translateY(8em);
        &__hr {
            width: 100%;
            height: .1px;
            background-color:white;
            opacity: .7;

            &--short {
                width: 85%;
                margin-left: 2rem;
                margin-top: .8rem;
            }
        }

        &__li {
            list-style: none;
            margin-top: 1.7rem;
            margin-left: 2rem;

            a {
                color: red;
                text-decoration: none;
                font-size: 1.5rem;
            }
            
            a:hover {
                color: red;
            }
        }

    }

    &--is-visible {
        z-index: 20;
    }

    &--invisible {
        z-index: -20;
    }
}