.mobile-menu {
    position: fixed;
    width: 100%;
    top: 8rem;
    opacity: 0;
    z-index: -10;
    
    &--visible {
        z-index: 11;
        opacity: 1;
    }

    &__hr {
        height: .1px;
        background-color:white;
        opacity: .7;
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        &--short {
            width: 27%;
            margin-left: 2rem;
            margin-top: .8rem;
        }
    }
    
    li {
        list-style: none;
        margin-top: 1.7rem;
        margin-left: 2rem;
    
        a {
            color: white;
            text-decoration: none;
            font-size: 1.5rem;
        }
        
        a:hover {
            color: red;
        }
    }
    }