.section-contact {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    background-color: rgb(197, 218, 218);
    
    @mixin atMedium {
        padding-top: 4em;
    }

   

    &__paragraph {
        width: 20em;
        margin: auto;
        padding-top: 2em;
        padding-bottom: 2em;
        font-size: 1.15em;

        @mixin atMedium {
            font-size: 1.3rem;
            font-weight: bold;
        }

        @mixin atLargest {
           width: 45%;
           font-size: 1.8rem;
        }
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        width: 50%;
       
       
        @mixin atMedium {
            width: 45%;
        }
        
        @mixin atLargest {
            width: 30%;
            height: 20em;
            justify-content: space-evenly;
        }

        &__submit {
            margin-left: auto;
            width: 100%;
            font-size: 1.4em;
            cursor: pointer;
            margin-bottom: 3em;
        }

        &__input {
            height: 2.5em;
            width: 100%;
            margin-bottom: .3em;
    
        }

        textarea {
            margin-bottom: .3em;
            height: 75px;
            width: 100%;
        }
    }

}