.section-main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    background-color: #a0a04d;

    &__bucket { 
       
    }
    

    &__paragraph {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 1.1rem;

    }

    &__video {
        width: 80%;
        height: 95%;
        margin-left: auto;
        margin-right: auto;
       padding-top: 2rem;

        @mixin atMedium {
            width: 60%;
            height: 38%;

            @mixin atMedium--height {
                width: 80%;
                height: 50%;
            }
        }

        @mixin atLarge {
            width: 80%;
            height: 45%;
        }

        @mixin atLargest {
            width: 55%;
            height: 45%;
        }

        iframe {
            width: 100%;
            height: 100%;
        }
    }
}