.section-sub {
    
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 95vh;
    background-color: #62eb40;

  
    

    &__paragraph {
        width: 80%;
       margin-left: auto;
       margin-right: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 1.8rem;

        @mixin atMedium {
            text-align: center;
        }
    }

    &__grid {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        width: 90%;
        
        &__li {
           display: flex;
           flex-direction: column;
           align-items: center;
           width: 93%;
           list-style: none;
           border: solid 1px black;
           margin-bottom: 3rem;

           @mixin atMedium {
               width: 28%;
               margin-right: 2rem;
           }
        
          
            &__name {
                font-size: 1.6rem;
                padding-bottom: .2rem;
                padding-top: .3rem;
            }

            &__price {
                font-size: 1.2rem;
                padding-bottom: .4rem;
            }

            button {
                font-size: 1.4rem;
                max-width: 4rem;
                background-color: yellow;
                padding-left: .2rem;
                padding-right: .2rem;
                margin-top: .5rem;
                margin-bottom: .4rem;
            }

            img {
                height: 20vh;
                width: 70%;

                @mixin atMedium {
                    height:37vh;
                    width: 98%;
                    padding-left: .44rem;
                    padding-right: .44rem;
                }
             }
 
        }
    }










    &__form {
        width: 50%;
        padding-top: 10px;
        margin-left: auto;
        margin-right: auto;
        opacity: .6;

        &__submit {
            margin-left: 32.5%;
            width: 35%;
        }

        &__input {
            height: 30px;
            width: 100%;
            margin-bottom: 4px;
        }

        textarea {
            margin-top: 1px;
            margin-bottom: 4px;
            height: 75px;
            font-size: 15px;
            width: 100%;
        }
}
}